{% extends 'onepro/layoute.html' %}

{% block title %}
    <title>Вторая страница на django</title>
{% endblock %}

{% block content %}
<br>
<h3>Первый проект на Django: Введение в веб-разработку</h3><br>
<p>
    1. На этой странице мы будем рассматривать основные компоненты нашего приложения и их функции.<br>
    2. Начнем с создания пользовательских моделей, которые будут хранить информацию о задачах и пользователях.<br>
    3. Затем мы настроим админскую панель Django для удобного управления нашими моделями.<br>
    4. После этого добавим функциональность для регистрации и аутентификации пользователей.<br>
    5. Рассмотрим, как использовать формы Django для создания и редактирования задач.<br>
    6. Научимся работать с представлениями (views) и маршрутизацией (URLs) для обработки запросов.<br>
    7. Освоим шаблоны (templates) для отображения данных пользователям в удобном формате.<br>
    8. Добавим возможность фильтрации и сортировки задач по различным критериям.<br>
    9. Реализуем систему уведомлений, чтобы пользователи могли получать оповещения о важных событиях.<br>
    10. В конце страницы подведем итоги и рассмотрим дальнейшие шаги по расширению функционала нашего приложения.
</p>

{% endblock %}